[include]
    path = ~/.gitconfig.local
[user]
    name = Kengo Tateishi
[core]
    editor = vim
[color]
    ui = auto
[diff]
    external = git_vimdiff.sh
[pager]
    diff = 
[alias]
    co = checkout
    ci = commit
    cia = commit -a
    s = status
    a = add
    cb = checkout -b
    d = diff
    b = branch
    ba = branch -a
    lo = log
    la = log --oneline
    l = log -10 --oneline
    f = fetch
    pl = pull
    plo = pull origin
    plom = pull origin master
    ps = push
    pso = push origin
    psfo = push -f origin
    psom = push origin master
    r = rebase
    ta = log --oneline --decorate --all --decorate --graph
    t = log -10 --oneline --decorate --all --decorate --graph
    p = !git push origin `git rev-parse --abbrev-ref HEAD`
[mergetool]
    prompt = false
    keepBackup = false
[merge]
    tool = vimdiff
