[include]
    path = ~/.gitconfig.local
[user]
	name = Kengo Tateishi
[core]
	editor = vim
[color]
	ui = auto
[diff]
	external = git_vimdiff.sh
[pager]
	diff = 
[alias]
	co = checkout
	ci = commit
	s = status
	a = add
	cb = checkout -b
	d = diff
    b = branch
    l = log
    lo = log --oneline
    f = fetch
    pl = pull
    plo = pull origin
    ps = push
    pso = push origin
[mergetool]
	prompt = false
	keepBackup = false
[merge]
	tool = vimdiff
